@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size: cover;
    width: 100%;
    min-height: 100vh; /* 100% of the viewport */
    background-position: center;
    padding: 10px 8%;
    background-image: url(nature.jpg); background-size: cover;
}


.time { grid-area: time; }
.midsummer { grid-area: mid; }
.persei { grid-area: per; }
.main { grid-area: main; }

.header{
    align-items: center;
    margin-left: 70px;
}

.blocks {
    display: flex;
    gap: 200px;
    font-family: 'Caveat', cursive;
    margin-left: auto;
    margin-right: auto;
  }

.main{
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.9));
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    font-size: 20px;
    width: 700px;
    margin-top: 100px;
    height: 520px;
    font-weight: 700; 
    position: relative;
}

.container{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 700; 
}

#midsummer{
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.9));
    border-radius: 1rem;
    text-align: center;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    width: 500px;
    margin-top: 70px;
}

.persei{
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.9));
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
    margin-bottom: 20px;
    width: 500px;
    margin-top: 70px;
}

.time{
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.9));
    border-radius: 1rem;
    width: 500px;
    margin-top: 100px;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
}

button{
    background-color: lightgray;
    font-family: inherit;
    padding: 10px;
    font-size: 17px;
    float: right;
    cursor: pointer;
    position: absolute;
    right:20;
    height: 38px;
    background-color: rgb(179, 73, 47);
    color: white;
}

.notes{
    font-size: 25px;

}

.notespace{
    display: block;
}

#note{
    font-size: 15px;
}


@media only screen and (max-width:700px){
    body{
        
        background-image:url('nature.jpg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;


    }

    .blocks{
        display: block;
        font-family: 'Caveat', cursive;
    }

    .main{
        display:inline-block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        height: 350px;
    }

    .header{
        display:inline-block;
        position: relative;
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }

    #midsummer{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .persei{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .time{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .notes{
        max-width: 300px;
    }

    button{
        width: 40px;
        font-size: 15px;
        height: 30px;
        text-align: center;
        align-items: center;
        padding: 0;
    }

    .notespace{
        max-width: 300px;
    }

    textarea{
        resize:vertical; 
        max-height:40px; 
        resize: horizontal;
        max-width: 280px;
    }


}